{% extends "base.html" %}

{% block content %}
    <!--Main Content Area-->
    <main id="content">

        <!--Company-->
        <section id="company" class="clearfix company">
            <div class="row clearfix">
                <div class="col-3">
                    <div class="section-heading">
                        <h3>COMPANY</h3>
                        <h2 class="section-title">SAIGON A.I.</h2>
                        <p class="section-subtitle">An Award Winning A.I. Advisory Company</p>
                        <h4 style="text-align: justify;">
                            SAIGON A.I. company, which specializes in AI design and data science services. 
                            They're here to be your trusted guide through the fast-changing AI landscape, 
                            remotely supporting your data-driven projects with expertise and reliability.
                            <a href="https://www.saigonai.com/" style="color: #9c9c9c; border-bottom-style: solid;">Website</a>
                        </h4>
                    </div>
                </div>
                <div class="col-2-3">
                    <img src=" {{ url_for('static', filename='images/experience-images/saigonai.jpg') }}"/>
                </div>
            </div>
        </section>
        <!--End of Company-->

        <!--Dev team-->
        <section id="devteam" class="clearfix devteam">
            <div class="clearfix">
                <div class="col-1">
                    <h3>DEV TEAM</h3>
                    <h4>
                        A diverse team of professional software developers, project coordinator, and testing experts, all working towards building high-quality and efficient products.
                        The projects they are working on are Patti2, Fusion doc, and Adult Care Web.
                    </h4>
                </div>
                <!--Gallery-->   
                <aside id="gallery" class="row text-center clearfix" data-featherlight-gallery data-featherlight-filter="a">
                    <a href="{{ url_for('static', filename='images/experience-images/anhVu.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/anhVu.png') }}"/>
                        <p>A.VŨ</p>
                        <p>COO</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/chiHong.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/chiHong.png') }}"/>
                        <p>C.HỒNG</p>
                        <p>Community Manager</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/Thoa.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/Thoa.png') }}"/>
                        <p>THOA</p>
                        <p>Project Coordinator</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/chiTAnh.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/chiTAnh.png') }}"/>
                        <p>C.ANH</p>
                        <p>Admin Assistant/Tester</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/anhQuyen.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/anhQuyen.png') }}"/>
                        <p>A.QUYỀN</p>
                        <p>Tester</p>
                    </a>    
                </aside>
                <aside id="gallery" class="row text-center clearfix" data-featherlight-gallery data-featherlight-filter="a">
                    <a href="{{ url_for('static', filename='images/experience-images/anhHoang.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/anhHoang.png') }}"/>
                        <p>A.HOÀNG</p>
                        <p>Developer</p>
                    </a> 
                    <a href="{{ url_for('static', filename='images/experience-images/anhTri.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/anhTri.png') }}"/>
                        <p>A.TRÍ</p>
                        <p>Developer</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/anhDung.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/anhDung.png') }}"/>
                        <p>A.DŨNG</p>
                        <p>Developer</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/Thien.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/Thien.png') }}"/>
                        <p>THIỆN</p>
                        <p>Developer</p>
                    </a>
                    <a href="{{ url_for('static', filename='images/experience-images/Nguyen.png') }}" data-featherlight="image" class="col-5 wow fadeIn">
                        <img src="{{ url_for('static', filename='images/experience-images/Nguyen.png') }}"/>
                        <p>NGUYÊN</p>
                        <p>Developer</p>
                    </a>     
                </aside>
                <!--End of Gallery-->
            </div>
        </section>
        <!--End of Dev team-->

        <section id="expectations" class="clearfix expectations">
            <div class="col-1">
                <img class="col-2" src=" {{ url_for('static', filename='images/experience-images/experience.jpg') }}"/>
                <div class="col-2">
                    <!--Expectations-->
                    <div class="col-1">
                        <h3>EXPECTATIONS</h3>
                        <h4>
                            <ul>
                                <li>Learn new skills</li>
                                <li>Skills development</li>
                                <li>Join a professional environment</li>
                                <li>Work on real projects</li>
                                <li>Experience the company culture</li>
                            </ul>
                        </h4>
                    </div>
                    <!--End of Expectations-->
                    <!--Challenges-->
                    <div class="col-1">
                        <h3>CHALLENGES</h3>
                        <h4>
                            <ul>
                                <li>New operating system MacOS</li>
                                <li>Bug</li>
                                <li>Communicate</li>
                                <li>Speaking English</li>
                                <li>The real project is a bit difficult to understand all</li>
                                <li>Present in front of everyone</li>
                            </ul>
                        </h4>
                    </div>
                    <!--End of Challenges-->
                </div>
            </div>
        </section>
        <!--Lession-->
        <section id="lession" class="clearfix lession">
            <div class="clearfix">
                <div class="col-1">
                    <h3>WHAT HAVE I LEARNED?</h3>
                </div>
            </div>
            <div>
                <div class="col-2 container-text-center">
                    <img class="col-2" src="{{ url_for('static', filename='images/experience-images/learn1.jpg') }}"/>
                    <h4 class="col-2">
                        <ul>
                            <li>One bite at a time</li>
                            <li>Always "18"</li>
                            <li>Teamwork</li>
                        </ul>
                    </h4>
                </div>
            
                <div class="col-2 container-text-center">
                    <img class="col-2" src="{{ url_for('static', filename='images/experience-images/learn2.jpg') }}"/>
                    <h4 class="col-2">
                        <ul>
                            <li>Flask/Python</li>
                            <li>Unit test</li>
                            <li>BDD test</li>
                            <li>API</li>
                        </ul>
                    </h4>
                </div>
            </div>
        </section>
        <!--End of Lession-->
        <!--Activites-->
        <section id="activites" class="clearfix activites">
            <div class="clearfix">
                <h3 class="col-1">COMPANY ACTIVITES</h3>
                <div>
                    <div class="col-3-4 container-center">
                        <img class="col-3" src=" {{ url_for('static', filename='images/experience-images/coffeetalk.jpg') }}"/>
                        <div class="col-2">
                            <div class="activites-heading">COFFEE TALK</div>
                            <div class="activites-body">
                                Twice a month, discuss a topic related to AI technology. 
                                Will be randomly divided into 2 teams to debate with each other
                            </div>
                            <div class="activites-body">
                                <i class="fa-solid fa-thumbs-up"></i> <span style="padding-left: 1%;">A delicious drink and it is fun to watch people debate</span> <br>
                                <i class="fa-solid fa-thumbs-down"></i> <span>Had to walk in the sun, very sunny, VERY VERY SUNNY</span>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-3-4 container-center" style="flex-direction: row-reverse;">
                        <img class="col-3" src=" {{ url_for('static', filename='images/experience-images/teatime.jpg') }}"/>
                        <div class="col-2">
                            <div class="activites-heading">TEA TIME</div>
                            <div class="activites-body">
                                At least once a month, organize a small party for people who have birthdays during the month. 
                                Or organize to bring the whole company together.
                            </div>
                            <div class="activites-body">
                                <i class="fa-solid fa-thumbs-up"></i> <span>Good drinks and it is fun to watch people play games</span> <br>
                                <i class="fa-solid fa-thumbs-down"></i> <span>Usually held on days when I don't work, the game is quite boring (personal opinion)</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-3-4 container-center">
                        <img class="col-3" src="{{ url_for('static', filename='images/experience-images/englishclass.jpg') }}"/>
                        <div class="col-2">
                            <div class="activites-heading">ENGLISH CLASS</div>
                            <div class="activites-body">
                                A few sessions a month, one hour of studying/talking with Ms. Val
                            </div>
                            <div class="activites-body">
                                <i class="fa-solid fa-thumbs-up"></i> <span>Improve English.</span> <br>
                                <i class="fa-solid fa-thumbs-down"></i> <span>Nothing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of Activites-->       
        <!--Memories-->
        <section id="memories" class="clearfix memories">
            <div class="clearfix">
                <div class="col-1">
                    <h3>MEMORIES</h3>
                </div>
                <aside class="row" data-featherlight-gallery data-featherlight-filter="a">
                    <div class="container-center">
                        <a href="{{ url_for('static', filename='images/experience-images/firstcoffeetalk.jpg') }}" data-featherlight="image" class="col-4 wow fadeIn">
                            <img src="{{ url_for('static', filename='images/experience-images/firstcoffeetalk.jpg') }}"/>
                        </a>
                        <a href="{{ url_for('static', filename='images/experience-images/karaoke.jpg') }}" data-featherlight="image" class="col-2 wow fadeIn">
                            <img src="{{ url_for('static', filename='images/experience-images/karaoke.jpg') }}"/>
                        </a>
                        <a href="{{ url_for('static', filename='images/experience-images/cookiedecoration.jpg') }}" data-featherlight="image" class="col-4 wow fadeIn">
                            <img src="{{ url_for('static', filename='images/experience-images/cookiedecoration.jpg') }}"/>
                        </a>
                    </div>
                </aside>
            </div>
        </section>
        <!--End of Memories-->
    </main>
    <!--End Main Content Area-->

{% endblock %}
