<div style="padding-top: 10%;">
    <div class="col-3">
        <img src="{{ url_for('static', filename='images/aboutme-images/me.jpg') }}">
        <body>
            Cái gì đó để ở đây nè <br>
            Số 1 <br>
            Số 2 <br>
            Số 3 <br>
        </body>
    </div>
    <div class="col-3">
        <img src="{{ url_for('static', filename='images/aboutme-images/love.jpg') }}">
        <body>
            Cái gì đó để ở đây nè <br>
            Số 1 <br>
            Số 2 <br>
            Số 3 <br>
        </body>
    </div>
    <div class="col-3">
        <img src="{{ url_for('static', filename='images/aboutme-images/hate.jpg') }}">
        <body>
            Cái gì đó để ở đây nè <br>
            Số 1 <br>
            Số 2 <br>
            Số 3 <br>
        </body>
    </div>
</div>


<div class="col-1"></div>
<!-- <div class="col-4"></div> -->
<div style="padding-top: 10%;">
    <div class="col-3-4 about-container">
        <img class="col-3" src="{{ url_for('static', filename='images/aboutme-images/me.jpg') }}">
        <div class="col-2">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
    </div>

    <div class="col-3-4 about-container" style="flex-direction: row-reverse;">
        <img class="col-3" src="{{ url_for('static', filename='images/aboutme-images/love.jpg') }}">
        <div class="col-2">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
    </div>
    <div class="col-3-4 about-container">
        <img class="col-3" src="{{ url_for('static', filename='images/aboutme-images/hate.jpg') }}">
        <div class="col-2">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
    </div>
</div>

<div class="col-1"></div>
<div class="col-3">ME</div>
<div class="col-3">LOVE</div>
<div class="col-3">HATE</div>
<div style="padding-top: 10%;">
    <div class="col-1">
        <img class="col-6" src="{{ url_for('static', filename='images/aboutme-images/me.jpg') }}">
        <div class="col-6">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
        <img class="col-6" src="{{ url_for('static', filename='images/aboutme-images/love.jpg') }}">
        <div class="col-6">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
        <img class="col-6" src="{{ url_for('static', filename='images/aboutme-images/hate.jpg') }}">
        <div class="col-6">
            <body>
                Cái gì đó để ở đây nè <br>
                Số 1 <br>
                Số 2 <br>
                Số 3 <br>
            </body>
        </div>
    </div>
</div>